# Copy this file to .env and fill in your details
# Format: postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME

DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/interscope"
PORT=5000
NODE_ENV=development
