# Paste your CockroachDB connection string here
DATABASE_URL="postgresql://interscope_user:YOURPASSWORD@free-tier.cockroachlabs.cloud:26257/interscope?sslmode=verify-full"
PORT=5000
NODE_ENV=development
